

<a data-isw-payment-button data-isw-ref='<%=@gateway_id%>'> Please wait, payment button is loading...
<script type='text/javascript' 
src='<%=@script%>'
data-isw-customer-ref='<%=@txnid%>'
data-isw-customer-callback='confirmInterswitchPayment'
data-isw-trans-amount='<%=@amount%>'> 
</script>
</a>
<script>
function confirmInterswitchPayment(response){ 
if(response.resp == '00'){
    window.location.href='<%=@surl%>';
}else{
    alert(response.desc);
}
}
</script>